/admin/node_modules
/admin/dist
/admin/.env
/admin/.env.local
/admin/.env.development
/admin/.env.production
/admin/.env.test
/backend/node_modules
/backend/dist
/backend/.env
/backend/.env.local
/backend/.env.development
/backend/.env.production
/backend/.env.test
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production
/frontend/.env.test
.vscode